<a href="https://colab.research.google.com/github/navya-del/navya-5c1/blob/main/assignments/100_pandas_puzzles.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 100 pandas puzzles

Inspired by [100 Numpy exerises](https://github.com/rougier/numpy-100), here are 100* short puzzles for testing your knowledge of [pandas'](http://pandas.pydata.org/) power.

Since pandas is a large library with many different specialist features and functions, these excercises focus mainly on the fundamentals of manipulating data (indexing, grouping, aggregating, cleaning), making use of the core DataFrame and Series objects.

Many of the excerises here are stright-forward in that the solutions require no more than a few lines of code (in pandas or NumPy... don't go using pure Python or Cython!). Choosing the right methods and following best practices is the underlying goal.

The exercises are loosely divided in sections. Each section has a difficulty rating; these ratings are subjective, of course, but should be a seen as a rough guide as to how inventive the required solution is.

If you're just starting out with pandas and you are looking for some other resources, the official documentation  is very extensive. In particular, some good places get a broader overview of pandas are...

- [10 minutes to pandas](http://pandas.pydata.org/pandas-docs/stable/10min.html)
- [pandas basics](http://pandas.pydata.org/pandas-docs/stable/basics.html)
- [tutorials](http://pandas.pydata.org/pandas-docs/stable/tutorials.html)
- [cookbook and idioms](http://pandas.pydata.org/pandas-docs/stable/cookbook.html#cookbook)

Enjoy the puzzles!

\* *the list of exercises is not yet complete! Pull requests or suggestions for additional exercises, corrections and improvements are welcomed.*

## Importing pandas

### Getting started and checking your pandas setup

Difficulty: *easy*

**1.** Import pandas under the alias `pd`.

In [1]:
import pandas as pd

**2.** Print the version of pandas that has been imported.

In [2]:
import pandas as pd

# Print the version of pandas
print("Pandas version:", pd.__version__)

Pandas version: 2.2.2

**3.** Print out all the *version* information of the libraries that are required by the pandas library.

In [3]:
import pandas as pd

# Print the version information of all libraries required by pandas
pd.show_versions()

/usr/local/lib/python3.10/dist-packages/_distutils_hack/__init__.py:31: UserWarning: Setuptools is replacing distutils. Support for replacing an already imported distutils is deprecated. In the future, this condition will fail. Register concerns at https://github.com/pypa/setuptools/issues/new?template=distutils-deprecation.yml
  warnings.warn(

INSTALLED VERSIONS
------------------
commit                : d9cdd2ee5a58015ef6f4d15c7226110c9aab8140
python                : 3.10.12.final.0
python-bits           : 64
OS                    : Linux
OS-release            : 6.1.85+
Version               : #1 SMP PREEMPT_DYNAMIC Thu Jun 27 21:05:47 UTC 2024
machine               : x86_64
processor             : x86_64
byteorder             : little
LC_ALL                : en_US.UTF-8
LANG                  : en_US.UTF-8
LOCALE                : en_US.UTF-8

pandas                : 2.2.2
numpy                 : 1.26.4
pytz                  : 2024.2
dateutil              : 2.8.2
setuptools            : 75.1.0
pip                   : 24.1.2
Cython                : 3.0.11
pytest                : 8.3.4
hypothesis            : None
sphinx                : 8.1.3
blosc                 : None
feather               : None
xlsxwriter            : None
lxml.etree            : 5.3.0
html5lib              : 1.1
pymysql               : None
psycopg2              : 2.9.10
jinja2                : 3.1.4
IPython               : 7.34.0
pandas_datareader     : 0.10.0
adbc-driver-postgresql: None
adbc-driver-sqlite    : None
bs4                   : 4.12.3
bottleneck            : 1.4.2
dataframe-api-compat  : None
fastparquet           : None
fsspec                : 2024.10.0
gcsfs                 : 2024.10.0
matplotlib            : 3.8.0
numba                 : 0.60.0
numexpr               : 2.10.2
odfpy                 : None
openpyxl              : 3.1.5
pandas_gbq            : 0.24.0
pyarrow               : 17.0.0
pyreadstat            : None
python-calamine       : None
pyxlsb                : None
s3fs                  : None
scipy                 : 1.13.1
sqlalchemy            : 2.0.36
tables                : 3.10.1
tabulate              : 0.9.0
xarray                : 2024.10.0
xlrd                  : 2.0.1
zstandard             : None
tzdata                : 2024.2
qtpy                  : None
pyqt5                 : None

## DataFrame basics

### A few of the fundamental routines for selecting, sorting, adding and aggregating data in DataFrames

Difficulty: *easy*

Note: remember to import numpy using:
```python
import numpy as np
```

Consider the following Python dictionary `data` and Python list `labels`:

``` python
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
```
(This is just some meaningless data I made up with the theme of animals and trips to a vet.)

**4.** Create a DataFrame `df` from this dictionary `data` which has the index `labels`.

In [ ]:
import numpy as np

data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = # (complete this line of code)

**5.** Display a summary of the basic information about this DataFrame and its data (*hint: there is a single method that can be called on the DataFrame*).

In [4]:
import pandas as pd

# Example DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}

df = pd.DataFrame(data)

# Display basic information about the DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   City    3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes

**6.** Return the first 3 rows of the DataFrame `df`.

In [5]:
import pandas as pd

# Example DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [25, 30, 35, 40, 45],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']
}

df = pd.DataFrame(data)

# Display the first 3 rows of the DataFrame
print(df.head(3))

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

**7.** Select just the 'animal' and 'age' columns from the DataFrame `df`.

In [6]:
import pandas as pd

# Example DataFrame
data = {
    'animal': ['Cat', 'Dog', 'Elephant', 'Lion', 'Tiger'],
    'age': [2, 5, 10, 4, 3],
    'color': ['Black', 'Brown', 'Gray', 'Yellow', 'Orange']
}

df = pd.DataFrame(data)

# Select the 'animal' and 'age' columns
selected_columns = df[['animal', 'age']]

# Display the selected columns
print(selected_columns)

     animal  age
0       Cat    2
1       Dog    5
2  Elephant   10
3      Lion    4
4     Tiger    3

**8.** Select the data in rows `[3, 4, 8]` *and* in columns `['animal', 'age']`.

In [7]:
import pandas as pd

# Example DataFrame
data = {
    'animal': ['Cat', 'Dog', 'Elephant', 'Lion', 'Tiger', 'Bear', 'Wolf', 'Giraffe', 'Zebra'],
    'age': [2, 5, 10, 4, 3, 7, 6, 12, 8],
    'color': ['Black', 'Brown', 'Gray', 'Yellow', 'Orange', 'Black', 'Gray', 'Yellow', 'White']
}

df = pd.DataFrame(data)

# Select rows [3, 4, 8] and columns ['animal', 'age']
selected_data = df.loc[[3, 4, 8], ['animal', 'age']]

# Display the selected data
print(selected_data)

  animal  age
3   Lion    4
4  Tiger    3
8  Zebra    8

**9.** Select only the rows where the number of visits is greater than 3.

In [8]:
import pandas as pd

# Example DataFrame
data = {
    'animal': ['Cat', 'Dog', 'Elephant', 'Lion', 'Tiger'],
    'visits': [2, 5, 1, 4, 3],
    'color': ['Black', 'Brown', 'Gray', 'Yellow', 'Orange']
}

df = pd.DataFrame(data)

# Select rows where 'visits' is greater than 3
selected_rows = df[df['visits'] > 3]

# Display the selected rows
print(selected_rows)

  animal  visits   color
1    Dog       5   Brown
3   Lion       4  Yellow

**10.** Select the rows where the age is missing, i.e. it is `NaN`.

In [9]:
import pandas as pd
import numpy as np

# Example DataFrame with NaN values
data = {
    'animal': ['Cat', 'Dog', 'Elephant', 'Lion', 'Tiger'],
    'age': [2, np.nan, 10, np.nan, 3],
    'color': ['Black', 'Brown', 'Gray', 'Yellow', 'Orange']
}

df = pd.DataFrame(data)

# Select rows where 'age' is NaN
rows_with_missing_age = df[df['age'].isna()]

# Display the rows with missing age values
print(rows_with_missing_age)

  animal  age   color
1    Dog  NaN   Brown
3   Lion  NaN  Yellow

**11.** Select the rows where the animal is a cat *and* the age is less than 3.

In [10]:
import pandas as pd

# Example DataFrame
data = {
    'animal': ['Cat', 'Dog', 'Elephant', 'Lion', 'Tiger', 'Cat'],
    'age': [2, 5, 10, 4, 3, 1],
    'color': ['Black', 'Brown', 'Gray', 'Yellow', 'Orange', 'White']
}

df = pd.DataFrame(data)

# Select rows where 'animal' is 'Cat' and 'age' is less than 3
selected_rows = df[(df['animal'] == 'Cat') & (df['age'] < 3)]

# Display the selected rows
print(selected_rows)

  animal  age  color
0    Cat    2  Black
5    Cat    1  White

**12.** Select the rows the age is between 2 and 4 (inclusive).

In [11]:
import pandas as pd

# Example DataFrame
data = {
    'animal': ['Cat', 'Dog', 'Elephant', 'Lion', 'Tiger', 'Bear'],
    'age': [2, 5, 10, 4, 3, 1],
    'color': ['Black', 'Brown', 'Gray', 'Yellow', 'Orange', 'Black']
}

df = pd.DataFrame(data)

# Select rows where 'age' is between 2 and 4 (inclusive)
selected_rows = df[(df['age'] >= 2) & (df['age'] <= 4)]

# Display the selected rows
print(selected_rows)

  animal  age   color
0    Cat    2   Black
3   Lion    4  Yellow
4  Tiger    3  Orange

**13.** Change the age in row 'f' to 1.5.

In [12]:
import pandas as pd

# Example DataFrame
data = {
    'animal': ['Cat', 'Dog', 'Elephant', 'Lion', 'Tiger', 'Bear'],
    'age': [2, 5, 10, 4, 3, 1],
    'color': ['Black', 'Brown', 'Gray', 'Yellow', 'Orange', 'Black']
}

df = pd.DataFrame(data)

# Select rows where 'age' is between 2 and 4 (inclusive)
selected_rows = df[(df['age'] >= 2) & (df['age'] <= 4)]

# Display the selected rows
print(selected_rows)

  animal  age   color
0    Cat    2   Black
3   Lion    4  Yellow
4  Tiger    3  Orange

**14.** Calculate the sum of all visits in `df` (i.e. find the total number of visits).

In [13]:
import pandas as pd

# Example DataFrame
data = {
    'animal': ['Cat', 'Dog', 'Elephant', 'Lion', 'Tiger'],
    'visits': [2, 5, 1, 4, 3],
    'color': ['Black', 'Brown', 'Gray', 'Yellow', 'Orange']
}

df = pd.DataFrame(data)

# Calculate the sum of all visits
total_visits = df['visits'].sum()

# Display the total number of visits
print("Total visits:", total_visits)

Total visits: 15

**15.** Calculate the mean age for each different animal in `df`.

In [14]:
import pandas as pd

# Example DataFrame
data = {
    'animal': ['Cat', 'Dog', 'Elephant', 'Lion', 'Tiger', 'Cat', 'Dog'],
    'age': [2, 5, 10, 4, 3, 1, 6],
    'color': ['Black', 'Brown', 'Gray', 'Yellow', 'Orange', 'White', 'Blue']
}

df = pd.DataFrame(data)

# Calculate the mean age for each different animal
mean_age_per_animal = df.groupby('animal')['age'].mean()

# Display the mean age for each animal
print(mean_age_per_animal)

animal
Cat          1.5
Dog          5.5
Elephant    10.0
Lion         4.0
Tiger        3.0
Name: age, dtype: float64

**16.** Append a new row 'k' to `df` with your choice of values for each column. Then delete that row to return the original DataFrame.

In [15]:
import pandas as pd

# Example DataFrame
data = {
    'animal': ['Cat', 'Dog', 'Elephant', 'Lion', 'Tiger'],
    'age': [2, 5, 10, 4, 3],
    'color': ['Black', 'Brown', 'Gray', 'Yellow', 'Orange']
}

df = pd.DataFrame(data)

# Append a new row 'k' with chosen values
df.loc['k'] = ['Kangaroo', 6, 'Green']

# Display the DataFrame after appending the new row
print("DataFrame after appending row 'k':")
print(df)

# Delete the row 'k' to return the original DataFrame
df = df.drop('k')

# Display the DataFrame after deleting the row 'k'
print("\nDataFrame after deleting row 'k':")
print(df)

DataFrame after appending row 'k':
     animal  age   color
0       Cat    2   Black
1       Dog    5   Brown
2  Elephant   10    Gray
3      Lion    4  Yellow
4     Tiger    3  Orange
k  Kangaroo    6   Green

DataFrame after deleting row 'k':
     animal  age   color
0       Cat    2   Black
1       Dog    5   Brown
2  Elephant   10    Gray
3      Lion    4  Yellow
4     Tiger    3  Orange

**17.** Count the number of each type of animal in `df`.

In [16]:
import pandas as pd

# Example DataFrame
data = {
    'animal': ['Cat', 'Dog', 'Elephant', 'Lion', 'Tiger', 'Cat', 'Dog'],
    'age': [2, 5, 10, 4, 3, 1, 6],
    'color': ['Black', 'Brown', 'Gray', 'Yellow', 'Orange', 'White', 'Blue']
}

df = pd.DataFrame(data)

# Count the number of each type of animal
animal_counts = df['animal'].value_counts()

# Display the count of each animal
print(animal_counts)

animal
Cat         2
Dog         2
Elephant    1
Lion        1
Tiger       1
Name: count, dtype: int64

**18.** Sort `df` first by the values in the 'age' in *decending* order, then by the value in the 'visits' column in *ascending* order (so row `i` should be first, and row `d` should be last).

In [17]:
import pandas as pd

# Example DataFrame
data = {
    'animal': ['Cat', 'Dog', 'Elephant', 'Lion', 'Tiger'],
    'age': [2, 5, 10, 4, 3],
    'visits': [3, 5, 1, 4, 2],
    'color': ['Black', 'Brown', 'Gray', 'Yellow', 'Orange']
}

df = pd.DataFrame(data)

# Sort by 'age' in descending order, then by 'visits' in ascending order
sorted_df = df.sort_values(by=['age', 'visits'], ascending=[False, True])

# Display the sorted DataFrame
print(sorted_df)

     animal  age  visits   color
2  Elephant   10       1    Gray
1       Dog    5       5   Brown
3      Lion    4       4  Yellow
4     Tiger    3       2  Orange
0       Cat    2       3   Black

**19.** The 'priority' column contains the values 'yes' and 'no'. Replace this column with a column of boolean values: 'yes' should be `True` and 'no' should be `False`.

In [18]:
import pandas as pd

# Example DataFrame
data = {
    'animal': ['Cat', 'Dog', 'Elephant', 'Lion', 'Tiger'],
    'priority': ['yes', 'no', 'yes', 'no', 'yes'],
    'age': [2, 5, 10, 4, 3]
}

df = pd.DataFrame(data)

# Replace 'yes' with True and 'no' with False in the 'priority' column
df['priority'] = df['priority'].replace({'yes': True, 'no': False})

# Display the updated DataFrame
print(df)

     animal  priority  age
0       Cat      True    2
1       Dog     False    5
2  Elephant      True   10
3      Lion     False    4
4     Tiger      True    3

<ipython-input-18-c0de1d2c6678>:13: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['priority'] = df['priority'].replace({'yes': True, 'no': False})

**20.** In the 'animal' column, change the 'snake' entries to 'python'.

In [19]:
import pandas as pd

# Example DataFrame
data = {
    'animal': ['Cat', 'Dog', 'Elephant', 'Lion', 'Snake'],
    'age': [2, 5, 10, 4, 3]
}

df = pd.DataFrame(data)

# Replace 'snake' with 'python' in the 'animal' column
df['animal'] = df['animal'].replace('Snake', 'Python')

# Display the updated DataFrame
print(df)

     animal  age
0       Cat    2
1       Dog    5
2  Elephant   10
3      Lion    4
4    Python    3

**21.** For each animal type and each number of visits, find the mean age. In other words, each row is an animal, each column is a number of visits and the values are the mean ages (*hint: use a pivot table*).

In [20]:
import pandas as pd

# Example DataFrame
data = {
    'animal': ['Cat', 'Dog', 'Elephant', 'Lion', 'Tiger', 'Cat', 'Dog', 'Lion'],
    'visits': [3, 5, 1, 4, 3, 2, 5, 4],
    'age': [2, 5, 10, 4, 3, 1, 6, 7],
}

df = pd.DataFrame(data)

# Create a pivot table to find the mean age for each animal and number of visits
pivot_table = df.pivot_table(values='age', index='animal', columns='visits', aggfunc='mean')

# Display the pivot table
print(pivot_table)

visits       1    2    3    4    5
animal
Cat        NaN  1.0  2.0  NaN  NaN
Dog        NaN  NaN  NaN  NaN  5.5
Elephant  10.0  NaN  NaN  NaN  NaN
Lion       NaN  NaN  NaN  5.5  NaN
Tiger      NaN  NaN  3.0  NaN  NaN

## DataFrames: beyond the basics

### Slightly trickier: you may need to combine two or more methods to get the right answer

Difficulty: *medium*

The previous section was tour through some basic but essential DataFrame operations. Below are some ways that you might need to cut your data, but for which there is no single "out of the box" method.

**22.** You have a DataFrame `df` with a column 'A' of integers. For example:
```python
df = pd.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})
```

How do you filter out rows which contain the same integer as the row immediately above?

You should be left with a column containing the following values:

```python
1, 2, 3, 4, 5, 6, 7
```

In [21]:
import pandas as pd

# Example DataFrame
df = pd.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})

# Filter out rows where the value in column 'A' is the same as the previous row
filtered_df = df[df['A'] != df['A'].shift()]

# Display the result
print(filtered_df)

   A
0  1
1  2
3  3
4  4
5  5
8  6
9  7

**23.** Given a DataFrame of numeric values, say
```python
df = pd.DataFrame(np.random.random(size=(5, 3))) # a 5x3 frame of float values
```

how do you subtract the row mean from each element in the row?

In [22]:
import pandas as pd
import numpy as np

# Create a 5x3 DataFrame with random float values
df = pd.DataFrame(np.random.random(size=(5, 3)))

# Subtract the row mean from each element in the row
df_normalized = df.sub(df.mean(axis=1), axis=0)

# Display the result
print(df_normalized)

          0         1         2
0 -0.007704 -0.009997  0.017701
1  0.000477  0.050051 -0.050528
2  0.097213  0.121868 -0.219081
3 -0.278079 -0.258357  0.536435
4 -0.227597  0.380891 -0.153294

**24.** Suppose you have DataFrame with 10 columns of real numbers, for example:

```python
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
```
Which column of numbers has the smallest sum?  Return that column's label.

In [23]:
import pandas as pd
import numpy as np

# Create a 5x10 DataFrame with random float values
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))

# Find the column with the smallest sum
column_with_smallest_sum = df.sum().idxmin()

# Display the column label with the smallest sum
print(column_with_smallest_sum)

h

**25.** How do you count how many unique rows a DataFrame has (i.e. ignore all rows that are duplicates)? As input, use a DataFrame of zeros and ones with 10 rows and 3 columns.

```python
df = pd.DataFrame(np.random.randint(0, 2, size=(10, 3)))
```

In [24]:
import pandas as pd
import numpy as np

# Create a 10x3 DataFrame with random 0s and 1s
df = pd.DataFrame(np.random.randint(0, 2, size=(10, 3)))

# Drop duplicate rows and count how many unique rows remain
unique_rows_count = df.drop_duplicates().shape[0]

# Display the count of unique rows
print(unique_rows_count)

5

The next three puzzles are slightly harder.


**26.** In the cell below, you have a DataFrame `df` that consists of 10 columns of floating-point numbers. Exactly 5 entries in each row are NaN values.

For each row of the DataFrame, find the *column* which contains the *third* NaN value.

You should return a Series of column labels: `e, c, d, h, d`

In [ ]:
nan = np.nan

data = [[0.04,  nan,  nan, 0.25,  nan, 0.43, 0.71, 0.51,  nan,  nan],
        [ nan,  nan,  nan, 0.04, 0.76,  nan,  nan, 0.67, 0.76, 0.16],
        [ nan,  nan, 0.5 ,  nan, 0.31, 0.4 ,  nan,  nan, 0.24, 0.01],
        [0.49,  nan,  nan, 0.62, 0.73, 0.26, 0.85,  nan,  nan,  nan],
        [ nan,  nan, 0.41,  nan, 0.05,  nan, 0.61,  nan, 0.48, 0.68]]

columns = list('abcdefghij')

df = pd.DataFrame(data, columns=columns)

# write a solution to the question here

**27.** A DataFrame has a column of groups 'grps' and and column of integer values 'vals':

```python
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'),
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})
```
For each *group*, find the sum of the three greatest values. You should end up with the answer as follows:
```
grps
a    409
b    156
c    345
```

In [ ]:
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'),
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})

# write a solution to the question here

**28.** The DataFrame `df` constructed below has two integer columns 'A' and 'B'. The values in 'A' are between 1 and 100 (inclusive).

For each group of 10 consecutive integers in 'A' (i.e. `(0, 10]`, `(10, 20]`, ...), calculate the sum of the corresponding values in column 'B'.

The answer should be a Series as follows:

```
A
(0, 10]      635
(10, 20]     360
(20, 30]     315
(30, 40]     306
(40, 50]     750
(50, 60]     284
(60, 70]     424
(70, 80]     526
(80, 90]     835
(90, 100]    852
```

In [ ]:
df = pd.DataFrame(np.random.RandomState(8765).randint(1, 101, size=(100, 2)), columns = ["A", "B"])

# write a solution to the question here

## DataFrames: harder problems

### These might require a bit of thinking outside the box...

...but all are solvable using just the usual pandas/NumPy methods (and so avoid using explicit `for` loops).

Difficulty: *hard*

**29.** Consider a DataFrame `df` where there is an integer column 'X':
```python
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
```
For each value, count the difference back to the previous zero (or the start of the Series, whichever is closer). These values should therefore be

```
[1, 2, 0, 1, 2, 3, 4, 0, 1, 2]
```

Make this a new column 'Y'.

In [25]:
import pandas as pd

# Example DataFrame
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

# Initialize an empty list to store the values for column 'Y'
y_values = []

# Initialize a counter to track the distance since the last zero
counter = 0

# Iterate through each value in column 'X'
for value in df['X']:
    if value == 0:
        counter = 0  # Reset the counter when a zero is encountered
    else:
        counter += 1  # Increment the counter for non-zero values
    y_values.append(counter)

# Add the calculated values as a new column 'Y'
df['Y'] = y_values

# Display the updated DataFrame
print(df)

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

**30.** Consider the DataFrame constructed below which contains rows and columns of numerical data.

Create a list of the column-row index locations of the 3 largest values in this DataFrame. In this case, the answer should be:
```
[(5, 7), (6, 4), (2, 5)]
```

In [26]:
df = pd.DataFrame(np.random.RandomState(30).randint(1, 101, size=(8, 8)))

**31.** You are given the DataFrame below with a column of group IDs, 'grps', and a column of corresponding integer values, 'vals'.

```python
df = pd.DataFrame({"vals": np.random.RandomState(31).randint(-30, 30, size=15),
                   "grps": np.random.RandomState(31).choice(["A", "B"], 15)})
```

Create a new column 'patched_values' which contains the same values as the 'vals' any negative values in 'vals' with the group mean:

```
    vals grps  patched_vals
0    -12    A          13.6
1     -7    B          28.0
2    -14    A          13.6
3      4    A           4.0
4     -7    A          13.6
5     28    B          28.0
6     -2    A          13.6
7     -1    A          13.6
8      8    A           8.0
9     -2    B          28.0
10    28    A          28.0
11    12    A          12.0
12    16    A          16.0
13   -24    A          13.6
14   -12    A          13.6
```

In [27]:
import pandas as pd
import numpy as np

# Create the DataFrame
df = pd.DataFrame({
    "vals": np.random.RandomState(31).randint(-30, 30, size=15),
    "grps": np.random.RandomState(31).choice(["A", "B"], 15)
})

# Calculate the mean of 'vals' for each group
group_means = df.groupby('grps')['vals'].transform('mean')

# Create the new 'patched_vals' column: replace negative values with the group mean
df['patched_vals'] = df['vals'].where(df['vals'] >= 0, group_means)

# Display the result
print(df)

    vals grps  patched_vals
0    -12    A     -0.333333
1     -7    B      6.333333
2    -14    A     -0.333333
3      4    A      4.000000
4     -7    A     -0.333333
5     28    B     28.000000
6     -2    A     -0.333333
7     -1    A     -0.333333
8      8    A      8.000000
9     -2    B      6.333333
10    28    A     28.000000
11    12    A     12.000000
12    16    A     16.000000
13   -24    A     -0.333333
14   -12    A     -0.333333

**32.** Implement a rolling mean over groups with window size 3, which ignores NaN value. For example consider the following DataFrame:

```python
>>> df = pd.DataFrame({'group': list('aabbabbbabab'),
                       'value': [1, 2, 3, np.nan, 2, 3, np.nan, 1, 7, 3, np.nan, 8]})
>>> df
   group  value
0      a    1.0
1      a    2.0
2      b    3.0
3      b    NaN
4      a    2.0
5      b    3.0
6      b    NaN
7      b    1.0
8      a    7.0
9      b    3.0
10     a    NaN
11     b    8.0
```
The goal is to compute the Series:

```
0     1.000000
1     1.500000
2     3.000000
3     3.000000
4     1.666667
5     3.000000
6     3.000000
7     2.000000
8     3.666667
9     2.000000
10    4.500000
11    4.000000
```
E.g. the first window of size three for group 'b' has values 3.0, NaN and 3.0 and occurs at row index 5. Instead of being NaN the value in the new column at this row index should be 3.0 (just the two non-NaN values are used to compute the mean (3+3)/2)

In [28]:
import pandas as pd
import numpy as np

# Create the DataFrame
df = pd.DataFrame({
    'group': list('aabbabbbabab'),
    'value': [1, 2, 3, np.nan, 2, 3, np.nan, 1, 7, 3, np.nan, 8]
})

# Compute the rolling mean for each group with a window size of 3, ignoring NaN values
df['rolling_mean'] = df.groupby('group')['value'].rolling(window=3, min_periods=1).mean().reset_index(level=0, drop=True)

# Display the result
print(df)

   group  value  rolling_mean
0      a    1.0      1.000000
1      a    2.0      1.500000
2      b    3.0      3.000000
3      b    NaN      3.000000
4      a    2.0      1.666667
5      b    3.0      3.000000
6      b    NaN      3.000000
7      b    1.0      2.000000
8      a    7.0      3.666667
9      b    3.0      2.000000
10     a    NaN      4.500000
11     b    8.0      4.000000

## Series and DatetimeIndex

### Exercises for creating and manipulating Series with datetime data

Difficulty: *easy/medium*

pandas is fantastic for working with dates and times. These puzzles explore some of this functionality.

**33.** Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of random numbers. Let's call this Series `s`.

In [29]:
import pandas as pd
import numpy as np

# Create a DatetimeIndex for all business days in 2015
business_days_2015 = pd.date_range(start='2015-01-01', end='2015-12-31', freq='B')

# Create a Series of random numbers with the business days as index
s = pd.Series(np.random.random(size=len(business_days_2015)), index=business_days_2015)

# Display the Series
print(s)

2015-01-01    0.374585
2015-01-02    0.166324
2015-01-05    0.266919
2015-01-06    0.417279
2015-01-07    0.618626
                ...
2015-12-25    0.367446
2015-12-28    0.996083
2015-12-29    0.842339
2015-12-30    0.800840
2015-12-31    0.322239
Freq: B, Length: 261, dtype: float64

**34.** Find the sum of the values in `s` for every Wednesday.

**35.** For each calendar month in `s`, find the mean of values.

**36.** For each group of four consecutive calendar months in `s`, find the date on which the highest value occurred.

**37.** Create a DateTimeIndex consisting of the third Thursday in each month for the years 2015 and 2016.

## Cleaning Data

### Making a DataFrame easier to work with

Difficulty: *easy/medium*

It happens all the time: someone gives you data containing malformed strings, Python, lists and missing data. How do you tidy it up so you can get on with the analysis?

Take this monstrosity as the DataFrame to use in the following puzzles:

```python
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN', 'londON_StockhOlm',
                               'Budapest_PaRis', 'Brussels_londOn'],
              'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
              'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
                   'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )',
                               '12. Air France', '"Swiss Air"']})
```
Formatted, it looks like this:

```
            From_To  FlightNumber  RecentDelays              Airline
0      LoNDon_paris       10045.0      [23, 47]               KLM(!)
1      MAdrid_miLAN           NaN            []    <Air France> (12)
2  londON_StockhOlm       10065.0  [24, 43, 87]  (British Airways. )
3    Budapest_PaRis           NaN          [13]       12. Air France
4   Brussels_londOn       10085.0      [67, 32]          "Swiss Air"
```


(It's some flight data I made up; it's not meant to be accurate in any way.)

**38.** Some values in the the **FlightNumber** column are missing (they are `NaN`). These numbers are meant to increase by 10 with each row so 10055 and 10075 need to be put in place. Modify `df` to fill in these missing numbers and make the column an integer column (instead of a float column).

**39.** The **From\_To** column would be better as two separate columns! Split each string on the underscore delimiter `_` to give a new temporary DataFrame called 'temp' with the correct values. Assign the correct column names 'From' and 'To' to this temporary DataFrame.

**40.** Notice how the capitalisation of the city names is all mixed up in this temporary DataFrame 'temp'. Standardise the strings so that only the first letter is uppercase (e.g. "londON" should become "London".)

**41.** Delete the **From_To** column from `df` and attach the temporary DataFrame 'temp' from the previous questions.

**42**. In the **Airline** column, you can see some extra puctuation and symbols have appeared around the airline names. Pull out just the airline name. E.g. `'(British Airways. )'` should become `'British Airways'`.

**43**. In the RecentDelays column, the values have been entered into the DataFrame as a list. We would like each first value in its own column, each second value in its own column, and so on. If there isn't an Nth value, the value should be NaN.

Expand the Series of lists into a DataFrame named `delays`, rename the columns `delay_1`, `delay_2`, etc. and replace the unwanted RecentDelays column in `df` with `delays`.

The DataFrame should look much better now.
```
   FlightNumber          Airline      From         To  delay_1  delay_2  delay_3
0         10045              KLM    London      Paris     23.0     47.0      NaN
1         10055       Air France    Madrid      Milan      NaN      NaN      NaN
2         10065  British Airways    London  Stockholm     24.0     43.0     87.0
3         10075       Air France  Budapest      Paris     13.0      NaN      NaN
4         10085        Swiss Air  Brussels     London     67.0     32.0      NaN
```

## Using MultiIndexes

### Go beyond flat DataFrames with additional index levels

Difficulty: *medium*

Previous exercises have seen us analysing data from DataFrames equipped with a single index level. However, pandas also gives you the possibilty of indexing your data using *multiple* levels. This is very much like adding new dimensions to a Series or a DataFrame. For example, a Series is 1D, but by using a MultiIndex with 2 levels we gain of much the same functionality as a 2D DataFrame.

The set of puzzles below explores how you might use multiple index levels to enhance data analysis.

To warm up, we'll look make a Series with two index levels.

**44**. Given the lists `letters = ['A', 'B', 'C']` and `numbers = list(range(10))`, construct a MultiIndex object from the product of the two lists. Use it to index a Series of random numbers. Call this Series `s`.

**45.** Check the index of `s` is lexicographically sorted (this is a necessary proprty for indexing to work correctly with a MultiIndex).

**46**. Select the labels `1`, `3` and `6` from the second level of the MultiIndexed Series.

**47**. Slice the Series `s`; slice up to label 'B' for the first level and from label 5 onwards for the second level.

**48**. Sum the values in `s` for each label in the first level (you should have Series giving you a total for labels A, B and C).

**49**. Suppose that `sum()` (and other methods) did not accept a `level` keyword argument. How else could you perform the equivalent of `s.sum(level=1)`?

**50**. Exchange the levels of the MultiIndex so we have an index of the form (letters, numbers). Is this new Series properly lexsorted? If not, sort it.

## Minesweeper

### Generate the numbers for safe squares in a Minesweeper grid

Difficulty: *medium* to *hard*

If you've ever used an older version of Windows, there's a good chance you've played with Minesweeper:
- https://en.wikipedia.org/wiki/Minesweeper_(video_game)


If you're not familiar with the game, imagine a grid of squares: some of these squares conceal a mine. If you click on a mine, you lose instantly. If you click on a safe square, you reveal a number telling you how many mines are found in the squares that are immediately adjacent. The aim of the game is to uncover all squares in the grid that do not contain a mine.

In this section, we'll make a DataFrame that contains the necessary data for a game of Minesweeper: coordinates of the squares, whether the square contains a mine and the number of mines found on adjacent squares.

**51**. Let's suppose we're playing Minesweeper on a 5 by 4 grid, i.e.
```
X = 5
Y = 4
```
To begin, generate a DataFrame `df` with two columns, `'x'` and `'y'` containing every coordinate for this grid. That is, the DataFrame should start:
```
   x  y
0  0  0
1  0  1
2  0  2
```

**52**. For this DataFrame `df`, create a new column of zeros (safe) and ones (mine). The probability of a mine occuring at each location should be 0.4.

**53**. Now create a new column for this DataFrame called `'adjacent'`. This column should contain the number of mines found on adjacent squares in the grid.

(E.g. for the first row, which is the entry for the coordinate `(0, 0)`, count how many mines are found on the coordinates `(0, 1)`, `(1, 0)` and `(1, 1)`.)

**54**. For rows of the DataFrame that contain a mine, set the value in the `'adjacent'` column to NaN.

**55**. Finally, convert the DataFrame to grid of the adjacent mine counts: columns are the `x` coordinate, rows are the `y` coordinate.

## Plotting

### Visualize trends and patterns in data

Difficulty: *medium*

To really get a good understanding of the data contained in your DataFrame, it is often essential to create plots: if you're lucky, trends and anomalies will jump right out at you. This functionality is baked into pandas and the puzzles below explore some of what's possible with the library.

**56.** Pandas is highly integrated with the plotting library matplotlib, and makes plotting DataFrames very user-friendly! Plotting in a notebook environment usually makes use of the following boilerplate:

```python
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('ggplot')
```

matplotlib is the plotting library which pandas' plotting functionality is built upon, and it is usually aliased to ```plt```.

```%matplotlib inline``` tells the notebook to show plots inline, instead of creating them in a separate window.  

```plt.style.use('ggplot')``` is a style theme that most people find agreeable, based upon the styling of R's ggplot package.

For starters, make a scatter plot of this random data, but use black X's instead of the default markers.

```df = pd.DataFrame({"xs":[1,5,2,8,1], "ys":[4,2,1,9,6]})```

Consult the [documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.plot.html) if you get stuck!

**57.** Columns in your DataFrame can also be used to modify colors and sizes.  Bill has been keeping track of his performance at work over time, as well as how good he was feeling that day, and whether he had a cup of coffee in the morning.  Make a plot which incorporates all four features of this DataFrame.

(Hint:  If you're having trouble seeing the plot, try multiplying the Series which you choose to represent size by 10 or more)

*The chart doesn't have to be pretty: this isn't a course in data viz!*

```
df = pd.DataFrame({"productivity":[5,2,3,1,4,5,6,7,8,3,4,8,9],
                   "hours_in"    :[1,9,6,5,3,9,2,9,1,7,4,2,2],
                   "happiness"   :[2,1,3,2,3,1,2,3,1,2,2,1,3],
                   "caffienated" :[0,0,1,1,0,0,0,0,1,1,0,1,0]})
```

**58.**  What if we want to plot multiple things?  Pandas allows you to pass in a matplotlib *Axis* object for plots, and plots will also return an Axis object.

Make a bar plot of monthly revenue with a line plot of monthly advertising spending (numbers in millions)

```
df = pd.DataFrame({"revenue":[57,68,63,71,72,90,80,62,59,51,47,52],
                   "advertising":[2.1,1.9,2.7,3.0,3.6,3.2,2.7,2.4,1.8,1.6,1.3,1.9],
                   "month":range(12)
                  })
```

Now we're finally ready to create a candlestick chart, which is a very common tool used to analyze stock price data.  A candlestick chart shows the opening, closing, highest, and lowest price for a stock during a time window.  The color of the "candle" (the thick part of the bar) is green if the stock closed above its opening price, or red if below.

![Candlestick Example](https://github.com/kartheekadas/python-test-1/blob/main/assignments/img/candle.jpg?raw=1)

This was initially designed to be a pandas plotting challenge, but it just so happens that this type of plot is just not feasible using pandas' methods.  If you are unfamiliar with matplotlib, we have provided a function that will plot the chart for you so long as you can use pandas to get the data into the correct format.

Your first step should be to get the data in the correct format using pandas' time-series grouping function.  We would like each candle to represent an hour's worth of data.  You can write your own aggregation function which returns the open/high/low/close, but pandas has a built-in which also does this.

The below cell contains helper functions.  Call ```day_stock_data()``` to generate a DataFrame containing the prices a hypothetical stock sold for, and the time the sale occurred.  Call ```plot_candlestick(df)``` on your properly aggregated and formatted stock data to print the candlestick chart.

In [ ]:
import numpy as np
def float_to_time(x):
    return str(int(x)) + ":" + str(int(x%1 * 60)).zfill(2) + ":" + str(int(x*60 % 1 * 60)).zfill(2)

def day_stock_data():
    #NYSE is open from 9:30 to 4:00
    time = 9.5
    price = 100
    results = [(float_to_time(time), price)]
    while time < 16:
        elapsed = np.random.exponential(.001)
        time += elapsed
        if time > 16:
            break
        price_diff = np.random.uniform(.999, 1.001)
        price *= price_diff
        results.append((float_to_time(time), price))


    df = pd.DataFrame(results, columns = ['time','price'])
    df.time = pd.to_datetime(df.time)
    return df

#Don't read me unless you get stuck!
def plot_candlestick(agg):
    """
    agg is a DataFrame which has a DatetimeIndex and five columns: ["open","high","low","close","color"]
    """
    fig, ax = plt.subplots()
    for time in agg.index:
        ax.plot([time.hour] * 2, agg.loc[time, ["high","low"]].values, color = "black")
        ax.plot([time.hour] * 2, agg.loc[time, ["open","close"]].values, color = agg.loc[time, "color"], linewidth = 10)

    ax.set_xlim((8,16))
    ax.set_ylabel("Price")
    ax.set_xlabel("Hour")
    ax.set_title("OHLC of Stock Value During Trading Day")
    plt.show()

**59.** Generate a day's worth of random stock data, and aggregate / reformat it so that it has hourly summaries of the opening, highest, lowest, and closing prices

**60.** Now that you have your properly-formatted data, try to plot it yourself as a candlestick chart.  Use the ```plot_candlestick(df)``` function above, or matplotlib's [```plot``` documentation](https://matplotlib.org/api/_as_gen/matplotlib.axes.Axes.plot.html) if you get stuck.

*More exercises to follow soon...*